<nav>
  <ng-template ngFor let-outerMenuItem [ngForOf]="menu">
    <button *ngIf="outerMenuItem.base" routerLink="/{{outerMenuItem.path}}" mat-button>{{outerMenuItem.name}}</button>
    <ng-template [ngIf]="!outerMenuItem.base && outerMenuItem.children">
        <button mat-button [matMenuTriggerFor]="navOuter">{{outerMenuItem.name}}</button>
        <mat-menu #navOuter="matMenu">        
            <ng-template ngFor let-menuLevelTwoItem [ngForOf]="outerMenuItem.children">
              <button routerLink="{{outerMenuItem.path}}/{{menuLevelTwoItem.path}}" mat-menu-item>{{menuLevelTwoItem.name}}</button>
            </ng-template>
        </mat-menu>
    </ng-template>
  </ng-template>
</nav>
